@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-130%);
  }to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appear {
  animation: appear linear .3s;
}

.flex-col {
  display: flex !important;
  gap: 8px;
  flex-direction: column !important;
}
.gridCol-2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 20px;
}
.title {
  font-size: 16px;
}
textarea,
input {
  outline: none;
  transition: all 0.2s linear;
  font-size: 18px !important;
  color: #000;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  &:focus {
    border: 1px solid #373888;
    border-radius: 5px;
  }
}

textarea {
  border-radius: 5px;
  border: 1px solid #373888;
}

.signUpForm {

  * {
    margin: 0;
    padding: 0;
  }
  z-index: 9999;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  .signUpForm__footer {
    flex: 1;
    display: flex;
    align-items: flex-end;
    color: #fff;
    gap: 20px;
    .button {
      padding: 4px 18px;
      flex: 1 0;
    }
  }
  .signUpForm-inner {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    width: 70%;
    background-color: #fff;
    height: 85vh;
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
  }
  .signUpForm--left {
    grid-column: 1/ 3;
    padding: 6% 8%;
    background: url("../../../images/signUpLeft.png") bottom center/ cover
      no-repeat;
    h3 {
      font-size: 35px;
      margin-bottom: 20px;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
      line-height: 130%;
      font-size: 16px;
      font-style: italic;
    }
    .contact {
      display: flex;
      flex-direction: column;
    }
    .contact__info {
      color: #fff;
      display: inline-flex;
      align-items: center;
      font-size: 18px;
      margin-top: 6%;
      gap: 10px;
      &:hover {
        color: #373888;
        transition: all 0.2s linear;
      }
      span {
        flex: 1;
      }
    }
    .contact__icon {
      display: inline-block;
      color: #373888;
    }
  }
  .signUpForm--right {
    form.flex-col {
      gap: 30px;
    }
    padding: 6% 8%;
    grid-column: 3/ 6;
    position: relative;
    input {
      width: auto !important;
      font-size: 14px !important;
      &[type="checkbox"]{
        margin-right: 10px;
      }
    }
    .closeBtn {
      position: absolute;
      right: 0;
      top: 0;
      margin: 4% 4%;
      font-size: 25px;
      transition: all 0.2s linear;
      cursor: pointer;
      &:hover {
        color: #373888;
      }
    }

    .basic-info {
      margin-top: 40px;
      gap: 35px;
    }

    .basic-info__item {
      position: relative;
      display: flex;
      flex-direction: column;
      .title {
        position: absolute;
        left: 10px;
        top: 6px;
        transition: .2s linear;
        cursor: text;
      }
      input:not(:placeholder-shown) + .title,
      input:focus + .title {
        top: -15px;
        display: inline-block;
        // padding: 10px;
        color: #000;
        background-color: #fff;
        cursor: default;
      }
    }
    .basic-info__item input,
    .message__text {
      width: 100%;
      resize: none;
      padding: 12px 10px;
    }
  }
}
