.select-options {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    .option {
        padding: 15px 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px;
        border: 1px solid #f1f1f1;
    }
}