.article_admin_container {
  &.overflow {
    overflow-y: auto;
  }
  .article_name_tag {
    color: #000;
    padding-right:5px;
  }
  .input {
    padding: 20px 10px;
    margin:10px 0;
    border: 1px solid #ddd;
    background-color: #ccc !important;
    transition:.3s linear;
    &:focus{
      background-color: #fff !important;
    }
    &.file{
      border:none;
      // width:50% !important;
    }
  }
  ::placeholder{
    color:rgba(0, 0, 0, 0.7) !important;
  }
  .article_name_tag_container{
    display:flex;
    max-width:320px;
    justify-content: space-between;
    align-items: center;
  }
  .article_name_tag_group {
    display: flex;
    align-items: center;
    height: 60%;
    label {
      display: inline-flex;
      align-items: center !important;
      padding-right: 20px;
      input{
        margin: auto 0;
        margin-right:5px;
      }
    }
  }
  .article_image_preview{
    display: flex;
    justify-content: center;
  }
  p{
    margin:0;
  }
}
.article_create_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover {
    color: #000;
  }
}
.article_create,
.article_detail,
.article_update {
  padding: 40px 20px;
  position: absolute;
  inset: 0;
  background-color: #fff;
  overflow-y: auto;
}

.group_article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.article_admin_list_option {
  cursor: pointer;
  display: flex;
  gap: 20px;
  justify-content: center;
  .article_admin_option {
    &.delete {
      color: rgb(182, 12, 12);
    }
  }
}
.article_detail {
  .title {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
  }
  .text {
    color: rgba(0, 0, 0, 0.795);
    font-size: 18px;
  }
}
.ql-editor {
  min-height: 50vh !important; 
}
.ql-editor{
  background-color: var(--bg-nav-scroll) !important;
}
